<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <h1>Page Not Found (404)</h1>
  <p><%= errorMessage %></p>   <!-- THIS shows "No order found" -->

  <%- include('../includes/end.ejs') %>
</body>
</html>
